<form clrForm [formGroup]="lesson">
  <app-file-upload
    (selectFile)="onSelect($event)"
    (removeFile)="onRemove($event)"
  ></app-file-upload>
  <clr-input-container>
    <label for="title">Введите название</label>
    <input formControlName="title"
           type="text"
           name="title"
           id="title"
           minlength="6"
           clrInput
    />
    <div *ngIf="lessonTitle.invalid && (lessonTitle.dirty || lessonTitle.touched)">
      Name is required.
    </div>
  </clr-input-container>
  <clr-input-container>
    <label for="original_language">Язык оригинала</label>
    <input formControlName="targetLanguage"
           type="text"
           name="targetLanguage"
           id="target_language"
           clrInput
    />
    <div *ngIf="targetLanguage.invalid && (targetLanguage.dirty || targetLanguage.touched)">
      Name is required.
    </div>
  </clr-input-container>
  <clr-input-container>
    <label for="target_language">Язык перевода</label>
    <input formControlName="originalLanguage"
           type="text"
           name="originalLanguage"
           id="original_language"
           clrInput
    />
    <div *ngIf="originalLanguage.invalid && (originalLanguage.dirty || originalLanguage.touched)">
      Name is required.
    </div>
  </clr-input-container>
  <br />
  <hr *ngIf="groups.controls.length > 0" />
  <clr-stack-view *ngIf="groups.controls.length > 0"
                  formArrayName="groups"
  >
    <clr-stack-block *ngFor="let group of groups.controls; let groupIndex = index"
                     [formGroupName]="groupIndex"
                     clrStackViewLevel="1"
                     clrStackViewSetsize="2"
                     clrStackViewPosinset="i"
                     clrSbExpandable="true"
                     [clrSbExpanded]="groupIndex===expanded"
                     (clrSbExpandedChange)="onExpand(groupIndex)"
    >
      <clr-stack-label>
        {{group.value.title || 'Not defined'}}
        <clr-icon *ngIf="hasError(group)"
                  shape="exclamation-triangle"
                  class="is-error"
        ></clr-icon>
        <clr-icon *ngIf="!hasError(group)"
                  shape="success-standard"
                  class="is-success"
        ></clr-icon>
      </clr-stack-label>
      <clr-stack-block clrStackViewLevel="2"
                       clrStackViewSetsize="1"
                       clrStackViewPosinset="1"
                       *ngIf="groupIndex===expanded"
                       class="secondary-stack"
      >
        <clr-stack-content>
          <clr-input-container>
            <label>{{groupIndex + 1}}. Название группы</label>
            <input formControlName="title"
                   type="text"
                   name="group.title"
                   clrInput
                   required
            />
          </clr-input-container>
          <clr-datagrid formArrayName="words">
            <clr-dg-column class="cell cell--id">id</clr-dg-column>
            <clr-dg-column class="cell cell--language">german</clr-dg-column>
            <clr-dg-column class="cell cell--language">translation</clr-dg-column>
            <clr-dg-column class="cell cell--remove"></clr-dg-column>
            <clr-dg-row *ngFor="let word of words(group).controls; let wordIndex = index"
                        [formGroupName]="wordIndex"
            >
              <clr-dg-cell class="cell cell--id">{{wordIndex + 1}}</clr-dg-cell>
              <clr-dg-cell class="cell cell--wo-label cell--language">
                <clr-input-container>
                  <label></label>
                  <input formControlName="original"
                         name="word.original"
                         clrInput
                         required
                  />
                  <clr-control-error>Обязательное поле</clr-control-error>
                </clr-input-container>
              </clr-dg-cell>
              <clr-dg-cell class="cell cell--wo-label cell--language">
                <clr-input-container>
                  <label></label>
                  <input formControlName="target"
                         name="word.target"
                         clrInput
                         required
                  />
                  <clr-control-error>Обязательное поле</clr-control-error>
                </clr-input-container>
              </clr-dg-cell>
                  <clr-dg-cell (click)="removeWord(groupIndex, wordIndex)" class="cell cell--remove remove-link">
                    Удалить карточку
                  </clr-dg-cell>
            </clr-dg-row>
          </clr-datagrid>

            <p (click)="addWord(groupIndex)" class="remove-link">
              Добавить карточку
            </p>
          <hr />
        </clr-stack-content>
      </clr-stack-block>
    </clr-stack-block>
  </clr-stack-view>
  <div>
    <button (click)="onSubmit()" class="btn btn-sm btn-primary">Сохранить</button>
  </div>
</form>
