<form clrForm [formGroup]="lesson">
  <app-file-upload
    (selectFile)="onSelect($event)"
    (removeFile)="onRemove($event)"
  ></app-file-upload>
  <clr-input-container>
    <label for="title">Введите название</label>
    <input formControlName="title"
           type="text"
           name="title"
           id="title"
           minlength="6"
           clrInput
    />
    <div *ngIf="lessonTitle.invalid && (lessonTitle.dirty || lessonTitle.touched)">
      Name is required.
    </div>
  </clr-input-container>
  <clr-input-container>
    <label for="original_language">Язык оригинала</label>
    <input formControlName="targetLanguage"
           type="text"
           name="targetLanguage"
           id="target_language"
           clrInput
    />
    <div *ngIf="targetLanguage.invalid && (targetLanguage.dirty || targetLanguage.touched)">
      Name is required.
    </div>
  </clr-input-container>
  <clr-input-container>
    <label for="target_language">Язык перевода</label>
    <input formControlName="originalLanguage"
           type="text"
           name="originalLanguage"
           id="original_language"
           clrInput
    />
    <div *ngIf="originalLanguage.invalid && (originalLanguage.dirty || originalLanguage.touched)">
      Name is required.
    </div>
  </clr-input-container>
  <br />
  <hr *ngIf="groups.value.length > 0" />
  <clr-stack-view *ngIf="groups.value.length > 0" [formArrayName]="groups">
    <clr-stack-block *ngFor="let group of groups.value.controls; let i = index"
                     [formGroup]="group"
                     clrStackViewLevel="1"
                     clrStackViewSetsize="2"
                     clrStackViewPosinset="i"
                     clrSbExpandable="true"
                     [clrSbExpanded]="i===expanded"
                     (clrSbExpandedChange)="onExpand(i)"
    >
      <clr-stack-label>
<!--        {{group.get('title') || "Not defined"}}-->
      </clr-stack-label>
      <clr-stack-block clrStackViewLevel="2"
                       clrStackViewSetsize="1"
                       clrStackViewPosinset="1"
                       *ngIf="i===expanded"
                       class="secondary-stack"
      >
        <clr-stack-content>
          <clr-input-container>
            <label>{{i + 1}}. Название группы</label>
<!--            <input formControlName="title"-->
<!--                   type="text"-->
<!--                   name="group.title"-->
<!--                   clrInput-->
<!--                   required-->
<!--            />-->
          </clr-input-container>
<!--          <app-managed-table [words]="group.get('words')"></app-managed-table>-->
          <hr />
        </clr-stack-content>
      </clr-stack-block>
    </clr-stack-block>
  </clr-stack-view>
  <div>
    <button class="btn btn-sm btn-primary">Сохранить</button>
  </div>
</form>
